     #slider {
  max-width: 500px;
  max-height: 300px;
  margin: 0 auto 10px;
  overflow: hidden;
  position: relative;
}
#slider ul {
  overflow: hidden;
  *zoom: 1;
}
#slider ul li {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  float: left;
  width: 500px;
  height: 300px;
  line-height: 300px;
}
#slider a {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 2em;
  top: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: -15px;
  text-decoration: none;
  background: #000;
}
#slider a#sliderNext {
  right: 0;
}
#slider a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

#pager {
  text-align: center;
}
#pager a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#pager a:hover, #pager a.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.mrg-5 
{
  margin-right: 5px;
}
@media (max-width:499px)
{
  .img-slider
  {
    padding-top: 10px;
    width: 320px;
    height: auto;
  }
  #slider ul li
  {
    line-height: 200px;
    height: 210px;
  }
}

@media (min-width:500px)
{
  .img-slider
  {
    width: 500px;
    height: 300px;
  }
}

.nofavorite
{
  font-size: 25px;
  color: #A2DED0; 
  cursor: pointer;
}

.nofavorite:hover
{
  color: #F9BF3B; 
}

.favorite
{
  font-size: 25px;
  color: #F9BF3B; 
  cursor: pointer;
}
